.justify {
  text-align: justify;
}
.bg-register {
  background: url("../assets/tent1.jpg") repeat 0 0;
  background-size: cover;
}
.min-vh-25 {
  height: 25vh;
}
.bg-danger {
  background-color: #0c7386 !important;
}
