$blue: #0c7386;

:root {
  font-size: 17px;
}

p {
  opacity: 0.8;
}

.justify {
  text-align: justify;
}
.bg-register {
  background: url("../assets/tent1.jpg") repeat 0 0;
  background-size: cover;
}
.min-vh-25 {
  height: 25vh;
}
.min-vh-50 {
  height: 50vh;
}
.bg-danger {
  background-color: $blue !important;
  border-color: $blue;
}
.text-blue {
  color: $blue !important;
}
.text-yellow {
  color: #fec179;
}
.bg-yellow {
  background-color: #fec179;
}
.img-partner {
  width: 300px;
  height: auto;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.1s ease-in-out;
}
