.justify {
  text-align: justify;
}
.bg-register {
  background: url("../assets/tent1.jpg") repeat 0 0;
  background-size: cover;
}
.min-vh-25 {
  height: 25vh;
}
.min-vh-50 {
  height: 50vh;
}
.bg-danger {
  background-color: #0c7386 !important;
  border-color: #0c7386;
}
.text-blue {
  color: #0c7386 !important;
}
.img-partner {
  width: 300px;
  height: auto;
}
